/* Selector de etiquetas */
h1{
    background-color: black;
    color: white;
}
h2{
    color: grey;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Selector multiples */

h1,h2{
    font-style: italic;
}

/* Selector descendente */

article ul li{
    padding: 5px;
}

article h2{
    font-weight: lighter;
}

/* Selector de clase */

.texto{
    font-size: 15px;
}

.lista li{
    list-style: square;
}

/* Selector de ID */

#negrita{
    font-weight: bolder;
    text-transform: uppercase;
}

/* Selector de hijo */

footer > p{
    font-style: italic;
    font-size: large;
}

/* Selector adyacente */

h2+h3{
    text-transform: capitalize;
}

/* Selector de atibutos */

a[href='www.google.com']{
    color: green;
}