h1{
    text-align: center;
    font-weight: bolder;
}
p{
    font-weight: bolder;  
}
fieldset{
    width: 400px;
    height: 150px;
    border: 0;
   
}
fieldset div.titulo,
fieldset div.autor{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
fieldset div.titulo label,
fieldset div.autor label{
    margin-right: 10px;
}
form > fieldset h2{
    text-align: center;
}

form{
    border: 1px solid black;
    width: 1000px;
    height: 450px;
    padding: 10px;
}
div.arriba{
    display: flex;
    justify-content: center;
}
.sugerencia{
    height: 100px;
    width: 600px;
    display: flex;
}
.sugerencia label{
    margin-right: 10px;
}
.sugerencia textarea{
    overflow-y: scroll;
}
fieldset.boton{
    text-align: center;
    width: 1100px;
    height: 20px;
    margin-top: 20px;
}