body{
    margin: 0;
}
div.head{
    background-color: blue;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.noticias{
    float: left;
    height: 80vh;
    background-color: lightblue;
    width: 15vw;
}
nav.noticias a{
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
section{
    height: 80vh;
}
section p{
    margin: 0;
}
footer{
    height: 10vh;
    background-color: blue;
}