body{
    background-color: #17568c;
}
.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadroRegistro{
    background-color: #efefef;
    height: 300px;
    width: 300px;
    padding: 19px 19px 0;
}
header{
    
    display: flex;
    justify-content: center;
}
header img{
    height: 50px;
}
hr{
    width: 260px;
    height: 2px;
    border-color: white;
}